body{
	background:red;
};body{
	left:50px;
	right:80px;
	font-family: '宋体';
	font-weight: bold;
	color: green;
	font-size:14px;
	border:1px solid red;
	margin:0px;
	padding: 0px；
	z-index:9999;
	position: relative;
}